<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon-32x32.png">
  <link rel="stylesheet" href="../assets/dist/css/main.css">
  <title>Frontend Mentor | Space tourism website</title>
</head>
<body>
<header>
<section class="nav-bar">
  <figure>
    <img src="./assets/img/shared/logo.svg" alt="logo">
  </figure>
  <hr>
  <nav>
    <a href="/" class="active"><strong>00</strong> Home</a>
    <a href="/destination.php"><strong>01</strong> Destination</a>
    <a href="/crew.php"><strong>02</strong> Crew</a>
    <a href="/technology.php"><strong>03</strong> Technology</a>
  </nav>
</section>
</header> 