<header>
  <section class="nav-bar">
    <figure>
      <img src="./assets/img/shared/logo.svg" alt="logo">
    </figure>
    <hr>
    <img id="hamburger" src="./assets/img/shared/icon-hamburger.svg">
  
    <nav id="main-nav" class="main-nav">
      <a href="/"><strong>00</strong> Home</a>
      <a href="/destination.php"><strong>01</strong> Destination</a>
      <a href="/crew.php"><strong>02</strong> Crew</a>
      <a href="/technology.php"><strong>03</strong> Technology</a>
    </nav>
    <nav id="mobile-nav" class="close">
      <img id="close-nav" src="./assets/img/shared/icon-close.svg">
      <a href="/"><strong>00</strong> Home</a>
      <a href="/destination.php"><strong>01</strong> Destination</a>
      <a href="/crew.php"><strong>02</strong> Crew</a>
      <a href="/technology.php"><strong>03</strong> Technology</a>
    </nav>
  </section>
  </header>     