h4 {
    @include h4;
    opacity: .5;
}

h3 {
    @include h3;
}

body#crew {
    background: url("../../img/crew/background-crew-mobile.jpg");
    background-size: cover;

    @include breakpoint(portrait) {
    background: url("../../img/crew/background-crew-tablet.jpg");
    background-size: cover;
    }

    @include breakpoint (large) {
        background: url("../../img/crew/background-crew-desktop.jpg");
        background-size: cover;
    }


    main.crew {
        display: flex;
        flex-direction: column;

        @include breakpoint(large) {
            flex-direction: row;
            margin: 35px 163px 0 166px;
            justify-content: space-between;
            align-items: end;

        }

        h5 {
            margin-top: 40px;
            margin-left: 38px;
            position: absolute;
            top: 65px;
            left: 100px;

            @include breakpoint(portrait) {
                position: inherit;
            }

            @include breakpoint(large) {
                margin: 0 0 160px;
            }
        }

        span {
            opacity: .25;
        }

        section.crew-member {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            order: 2;

            @include breakpoint(portrait) {
               order:1;
            }

            &__details {
                align-self: center;
                margin-bottom: 40px;
                text-align: center;
                order: 3;

                @include breakpoint(portrait) {
                    order: 1;
                }

                @include breakpoint(large) {
                    align-self: start;
                    text-align: start;
                    width: 488px;
                    margin-bottom: 120px;
                }


                h4 {
                    margin: 0 0 15px;
                }

                h3 {
                    margin: 0 0 27px;
                }

                p {
                    width: 327px; 

                    @include breakpoint(portrait) {
                        width: 458px;
                    }

                    @include breakpoint(large) {
                        width: 444px;
                    }
                }
            }

            section.crew-member__choices {
                display: flex;
                flex-direction: row;
                margin-bottom: 40px;
                align-self: center;
                order: 2;

                @include breakpoint(portrait) {
                    order: 3;
                }
               

                @include breakpoint(large) {
                    align-self: start;
                    margin-bottom: 105px;
                }

                div {
                    list-style: none;
                    background: white;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    margin-right: 24px;
                    opacity: .17;


                    &:last-child {
                        margin-right: 0px;
                    }

                    &:hover {
                        opacity: .5;
                    }

                    &:active,
                    &.active {
                        opacity: 1;
                    }

                }
            }
        }

        figure {
            order: 1;

            @include breakpoint(portrait) {
                order: 3;
            }

            &.crew-member__image {
                margin-bottom: 20px;
                align-self: center;
                margin-top: 65px;

                @include breakpoint(portrait) {
                    margin-bottom: 0px;
                    margin-top: 0px;
                }

                @include breakpoint(large) {
                    align-self: start;
                }

                #crew-image {
                    max-width: 277px;

                    @include breakpoint (portrait) {
                        max-width: initial;
                    }
                }
            }
        }
    }
}