h2 {
    @include h2;

}

body#destination {
    background: url("../../img/destination/background-destination-mobile.jpg");
    background-size: cover;
    height: 100%;

    @include breakpoint(portrait) {
    background: url("../../img/destination/background-destination-tablet.jpg");
    background-size: cover;
    }

    @include breakpoint(large) {
        background: url("../../img/destination/background-destination-desktop.jpg");
        background-size: cover;
    }

    main.destination {
        display: flex;
        flex-direction: column;
        margin: 40px 0 0 0;

        @include breakpoint(large) {
            margin: 50px 163px 50px 166px;
        }

        h5 {
            margin-top: 0px;
            margin-bottom: 35px;
            margin-left: 27px;

            @include breakpoint(large) {
                margin-left: 0;
                margin-bottom: 70px;
            }
        }

        span {
            opacity: .25;
        }

        .destination-details {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint(large) {
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
            }

            &__image {
                margin-bottom: 53px;

                @include breakpoint(large) {
                    margin-bottom: 0;
                }

                img {
                    width: 170px;
                    height: 170px;

                    @include breakpoint(portrait) {
                        width: 300px;
                        height: 300px;
                    }

                    @include breakpoint(large) {
                        width: 445px;
                        height: 445px;
                    }
                }
            }

            &__facts {
                display: flex;
                flex-direction: column;
                align-items: center;

                @include breakpoint(large) {
                    align-items: start;
                }

                &-choices {
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    height: 34px;

                    li {
                        @include Nav-Text;
                        list-style: none;
                        margin-right: 27px;
                        padding-bottom: 12px;

                        @include breakpoint(portrait) {
                        margin-right: 36px;
                        font-size: 16px;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        &:hover {
                            @include hover;
                            padding-bottom: 12px;
                        }

                        &:active,
                        &.active {
                            @include active;
                        }
                    }
                }

                h2 {
                    margin: 0;
                }

                p {
                    max-width: 327px;
                    text-align: center;

                    @include breakpoint(portrait) {
                        max-width: 578px;
                    }

                    @include breakpoint(large) {
                        max-width: 444px;
                        text-align: start;
                    }
                }

                hr {
                    @include hr;
                    width: 327px;
                    margin-top: 25px;
                    margin-bottom: 20px;

                    @include breakpoint(portrait) {
                        width: 578px;
                    }

                    @include breakpoint(large) {
                        width: 444px;
                        margin-top: 45px;
                        margin-bottom: 28px;
                    }
                }
            }

            &__stats {
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;

                @include breakpoint(portrait) {
                    flex-direction: row;
                }

                @include breakpoint(large) {
                    margin-bottom: 0;
                }

                article {
                    margin-right: 0;
                    margin-bottom: 32px;

                    @include breakpoint(portrait) {
                        margin-right: 79px;
                        margin-bottoM: 0;
                    }

                    &:last-child {
                        margin-right: 0px;
                    }

                    p.subheading2 {
                        @include Subheading2;
                        margin-bottom: 0;
                    }

                    p.subheading1 {
                        @include Subheading1;
                        margin-bottom: 0px;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}