h1 {
    @include h1;
}

h5 {
    @include h5;
}

p {
    @include bodycopy;
    color: $lightblue-grey;
}

body {
    background: url("../../img/home/background-home-desktop.jpg");
    background-size: cover;
    margin: 0;
    

    .home {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin: 251px 165px 131px;
        justify-content: space-between;

        .intro {
            display: flex;
            flex-direction:column;
            max-height: 382px;
            max-width: 450px;

            h5 {
                margin: 0;
            }

            h1 {
                margin: 0;
                line-height: 172px;
            };
        }

        .CTA {
            background: $white;
            border-radius: 50%;
            padding: 50px;
            position: absolute;
            left: 1001px;
            top: 495px;
            h5 {
                color: $black;
            }

            &:hover {
                border-style: solid;
                border-color: rgba(255,255,255,0.1);
                border-width: 88px;
                left:913px;
                top:407px;
                background-clip:padding-box;
                
            }
        }

    }
}
