h1 {
    @include h1;
}

h5 {
    @include h5;
}

p {
    @include bodycopy;
    color: $lightblue-grey;
    font-size: 15px;
    line-height: 25px;

    @include breakpoint(portrait) {
        font-size: 16px;
        line-height: 28px;
    }

    @include breakpoint(large) {
        font-size: 18px;
        line-height: 32px;
    }
    
}

body#home {
    background: url("../../img/home/background-home-mobile.jpg");
    background-size: cover;
    margin: 0;
    height: 100vh;

    @include breakpoint(portrait) {
    background: url("../../img/home/background-home-tablet.jpg");
        background-size: cover;
}
    

    @include breakpoint(large) {
        background: url("../../img/home/background-home-desktop.jpg");
        background-size: cover;
    }


    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 40px;

        @include breakpoint(large) {
        flex-direction: row;
        align-items: end;
        margin: 251px 165px 131px;
        justify-content: space-between;
        align-items: start;
        text-align: start;
        }

        .intro {
            display: flex;
            flex-direction: column;
            max-width: 327px;
            max-height: 276px;

            @include breakpoint(portrait) {
            max-height: 382px;
            max-width: 450px;
            }
            h5 {
                margin: 0;
            }

            h1 {
                margin: 0;
                line-height: 100px;

                @include breakpoint(portrait) {
                    line-height: 172px;
                }
            }

            
        }

        .CTA {
            background: $white;
            border-radius: 50%;
            padding: 30px;
            position: absolute;
            top: calc(80% + 30px);
            margin-bottom: 50px;

            @include breakpoint(portrait) {
                padding: 70px;
                margin-bottom: initial;
                top: calc(70% - 70px);
            }

            @include breakpoint(large) {
            position: absolute;
            right: calc(15% - 38px);
            top: calc(60% - 120px);
            margin-top:0;
            }

            h5 a {
                text-decoration: none;
                color: $black;

            }

            &:hover {
                border-style: solid;
                border-color: rgba(255, 255, 255, 0.1);
                border-width: 50px;
                background-clip: padding-box;
                top: calc(80% - 20px);

                @include breakpoint(portrait) {
                    border-width: 88px;
                    top: calc(70% - 157px);
                }

                @include breakpoint(large) {
                    margin-top: 0px;
                    right: calc(10% - 52px);
                    top: calc(60% - 208px);
                    bottom: initial;
                }

            }
        }

    }
}