/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/


@font-face {
    font-family: "Bellefair-Regular";
    src: local("../../fonts/Bellefair/Bellefair-Regular.ttf"), url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,300&display=swap'), format("ttf");
}

@font-face {
    font-family: "Barlow-Medium";
    src: local("../../fonts/Barlow/Barlow-Medium.ttf"), url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,500&display=swap'), format("ttf");
}

@font-face {
    font-family: "BarlowCondensed-Medium";
    src: local("../../fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf"), url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;1,500&display=swap"), format("ttf");

}

@font-face {
    font-family: "Barlow-Light"; 
    src: local("../../fonts/Barlow/Barlow-Light.ttf"), url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,300&display=swap'), format("ttf");
}

@font-face {
    font-family: "BarlowCondensed-Light"; 
    src: local("../../fonts/Barlow_Condensed/BarlowCondensed-Light.ttf"), url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;1,300&display=swap'), format("ttf");
}