.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 40px 55px;

    hr {
        @include hr;
        width: 473px;
        position: absolute;
        left: 168px;
        z-index: 9999;
    }

    nav {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px); 
        padding: 39px 165px 38px 123px;  

        a {
            @include Nav-Text;
            list-style: none;
            margin-right: 48px;
            padding-bottom: 38px;


            &:last-child {
                margin-right: 0;
            }

            &:hover {
                @include hover;
            }

            &:active,
            &.active {
                @include active;
            }

        }
    }
}